# Database
DATABASE_URL="postgresql://user:password@localhost:5432/vento_pos"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="tu-secret-key-super-segura-aqui-genera-con-openssl-rand-base64-32"
