# Database
DATABASE_URL="postgresql://user:password@localhost:5432/vento_pos"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="tu-secret-key-super-segura-aqui-genera-con-openssl-rand-base64-32"

# Email SMTP (AWS SES)
SMTP_HOST="email-smtp.us-east-1.amazonaws.com"
SMTP_PORT="587"
SMTP_USER="tu-smtp-user"
SMTP_PASS="tu-smtp-password"
